---
swagger: "2.0"
info:
  description: "This document defines the RESTful endpoints provided by the GSMA Mobile\
    \ Money API"
  version: "1.0"
  title: "Mobile Money API"
host: "mmapi.gsma.com"
basePath: "/v1.0/MM"
schemes:
- "https"
produces:
- "application/json"
paths:
  /transactions:
    post:
      summary: "Create A Transaction"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new transaction to be created"
      operationId: "transactionsPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - in: "body"
        name: "requestTransaction"
        description: "Represents the request body of a transaction"
        required: true
        schema:
          $ref: "#/definitions/requestTransaction"
      responses:
        201:
          description: "Represents a Transaction response"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseTransaction"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /transactions/{transactionReference}:
    get:
      summary: "View A Transaction"
      description: "This endpoint returns the current state of a transaction"
      operationId: "transactionsTransactionReferenceGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "transactionReference"
        in: "path"
        description: "Path variable to uniquely identify the transaction"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      responses:
        200:
          description: "Represents a Transaction response"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseTransaction"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /transactions/{transactionReference}/reversals:
    post:
      summary: "Create A Reversal"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new reversal to be created"
      operationId: "transactionsTransactionReferenceReversalsPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "transactionReference"
        in: "path"
        description: "Path variable to uniquely identify the transaction"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - in: "body"
        name: "requestReversal"
        description: "Represents the request body of a reversal"
        required: true
        schema:
          $ref: "#/definitions/requestReversal"
      responses:
        201:
          description: "Represents a Reversal response"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseReversal"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /batchtransactions:
    post:
      summary: "Create A Transaction Batch"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new transaction batch to be created"
      operationId: "batchtransactionsPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - in: "body"
        name: "requestBatchTransaction"
        description: "Represents the request body of a transaction batch"
        required: true
        schema:
          $ref: "#/definitions/requestBatchTransaction"
      responses:
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /batchtransactions/{batchId}:
    get:
      summary: "View A Transaction Batch"
      description: "This endpoint returns the current status of a batch transaction"
      operationId: "batchtransactionsBatchIdGET"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "batchId"
        in: "path"
        description: "Path variable to uniquely identify the transaction batch"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      responses:
        200:
          description: "Represents a Transaction Batch response"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseBatchTransaction"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
    patch:
      summary: "Update A Transaction Batch"
      description: "This endpoint updates a specific transaction batch"
      operationId: "batchtransactionsBatchIdPATCH"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "batchId"
        in: "path"
        description: "Path variable to uniquely identify the transaction batch"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - in: "body"
        name: "patch"
        description: "Represents the request body of a patch operation"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/patch"
          minItems: 1
          maxItems: 10
      responses:
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        204:
          description: "an empty response is returned for a synchronous successful\
            \ patch"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /batchtransactions/{batchId}/rejections:
    get:
      summary: "View Batch Rejections"
      description: "This endpoint returns rejected transactions for a specific batch"
      operationId: "batchtransactionsBatchIdRejectionsGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "batchId"
        in: "path"
        description: "Path variable to uniquely identify the transaction batch"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - name: "limit"
        in: "query"
        description: "Supports pagination. If this is not supplied, then the server\
          \ will apply a limit of 50 records returned for each request."
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Supports pagination. This value will indicate the cursor position\
          \ from where to retrieve the set of records. For example, a limit of 50\
          \ and offset of 10 will return records 10 to 60."
        required: false
        type: "integer"
        format: "int32"
      - name: "fromDateTime"
        in: "query"
        description: "Indicates the minimum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      - name: "toDateTime"
        in: "query"
        description: "Indicates the maximum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      responses:
        200:
          description: "Represent a list of Batch Rejections"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
            X-Records-Available-Count:
              type: "integer"
              format: "int32"
              description: "Integer containing number of records that are available\
                \ to be returned"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/batchRejection"
            minItems: 0
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /batchtransactions/{batchId}/completions:
    get:
      summary: "View Batch Completions"
      description: "This endpoint returns completed transactions for a specific batch"
      operationId: "batchtransactionsBatchIdCompletionsGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "batchId"
        in: "path"
        description: "Path variable to uniquely identify the transaction batch"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - name: "limit"
        in: "query"
        description: "Supports pagination. If this is not supplied, then the server\
          \ will apply a limit of 50 records returned for each request."
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Supports pagination. This value will indicate the cursor position\
          \ from where to retrieve the set of records. For example, a limit of 50\
          \ and offset of 10 will return records 10 to 60."
        required: false
        type: "integer"
        format: "int32"
      - name: "fromDateTime"
        in: "query"
        description: "Indicates the minimum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      - name: "toDateTime"
        in: "query"
        description: "Indicates the maximum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      responses:
        200:
          description: "Represent a list of Batch Completions"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
            X-Records-Available-Count:
              type: "integer"
              format: "int32"
              description: "Integer containing number of records that are available\
                \ to be returned"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/batchCompletion"
            minItems: 0
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/status:
    get:
      summary: "View Account Status"
      description: "This endpoint returns the current status of an account"
      operationId: "accountsAccountIdStatusGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      responses:
        200:
          description: "Represents the response body of an account status"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/accountStatus"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/status:
    get:
      summary: "View Account Status"
      description: "This endpoint returns the current status of an account (via MSISDN\
        \ identifier)"
      operationId: "accountsMsisdnMsisdnStatusGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      responses:
        200:
          description: "Represents the response body of an account status"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/accountStatus"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/accountname:
    get:
      summary: "View Account Name"
      description: "This endpoint returns the name of an account"
      operationId: "accountsAccountIdAccountnameGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      responses:
        200:
          description: "Represents the response body of an account name"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/accountName"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/accountname:
    get:
      summary: "View Account Name"
      description: "This endpoint returns the name of an account (via MSISDN identifier)"
      operationId: "accountsMsisdnMsisdnAccountnameGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      responses:
        200:
          description: "Represents the response body of an account name"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/accountName"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/balance:
    get:
      summary: "View Account Balance"
      description: "This endpoint returns the balance of an account"
      operationId: "accountsAccountIdBalanceGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      responses:
        200:
          description: "Represents the response body of an account balance"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/accountBalance"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/balance:
    get:
      summary: "View Account Balance"
      description: "This endpoint returns the balance of an account (via MSISDN identifier)"
      operationId: "accountsMsisdnMsisdnBalanceGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      responses:
        200:
          description: "Represents the response body of an account balance"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/accountBalance"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/transactions:
    get:
      summary: "View Account Specific Transaction"
      description: "This endpoint returns transactions linked to a specific account"
      operationId: "accountsAccountIdTransactionsGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      - name: "limit"
        in: "query"
        description: "Supports pagination. If this is not supplied, then the server\
          \ will apply a limit of 50 records returned for each request."
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Supports pagination. This value will indicate the cursor position\
          \ from where to retrieve the set of records. For example, a limit of 50\
          \ and offset of 10 will return records 10 to 60."
        required: false
        type: "integer"
        format: "int32"
      - name: "fromDateTime"
        in: "query"
        description: "Indicates the minimum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      - name: "toDateTime"
        in: "query"
        description: "Indicates the maximum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      responses:
        200:
          description: "Represent a list of Transactions"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
            X-Records-Available-Count:
              type: "integer"
              format: "int32"
              description: "Integer containing number of records that are available\
                \ to be returned"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/responseTransaction"
            minItems: 1
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/transactions:
    get:
      summary: "View Account Specific Transaction"
      description: "This endpoint returns transactions linked to a specific account\
        \ (via MSISDN identifier)"
      operationId: "accountsMsisdnMsisdnTransactionsGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      - name: "limit"
        in: "query"
        description: "Supports pagination. If this is not supplied, then the server\
          \ will apply a limit of 50 records returned for each request."
        required: false
        type: "integer"
        format: "int32"
      - name: "offset"
        in: "query"
        description: "Supports pagination. This value will indicate the cursor position\
          \ from where to retrieve the set of records. For example, a limit of 50\
          \ and offset of 10 will return records 10 to 60."
        required: false
        type: "integer"
        format: "int32"
      - name: "fromDateTime"
        in: "query"
        description: "Indicates the minimum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      - name: "toDateTime"
        in: "query"
        description: "Indicates the maximum date for which records should be returned"
        required: false
        type: "string"
        format: "datetime"
      responses:
        200:
          description: "Represent a list of Transactions"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
            X-Records-Available-Count:
              type: "integer"
              format: "int32"
              description: "Integer containing number of records that are available\
                \ to be returned"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/responseTransaction"
            minItems: 1
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/statemententries:
    get:
      summary: "View Account Statements"
      description: "This endpoint returns statements linked to an account"
      operationId: "accountsAccountIdStatemententriesGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      responses:
        200:
          description: "Represents a list of statements"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/statementEntry"
            minItems: 1
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/statemententries:
    get:
      summary: "View Account Statements"
      description: "This endpoint returns statements linked to an account (via MSISDN\
        \ identifier)"
      operationId: "accountsMsisdnMsisdnStatemententriesGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      responses:
        200:
          description: "Represents a list of statements"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/statementEntry"
            minItems: 1
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /statemententries/{transactionReference}:
    get:
      summary: "View Specific Statement"
      description: "This endpoint returns the statement of a specific transaction"
      operationId: "statemententriesTransactionReferenceGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "transactionReference"
        in: "path"
        description: "Path variable to uniquely identify the transaction"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      responses:
        200:
          description: "Represents the response body of a statement entry"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/statementEntry"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/bills:
    get:
      summary: "View Account Bills"
      description: "This endpoint returns bills linked to an account"
      operationId: "accountsAccountIdBillsGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      responses:
        200:
          description: "Represents a list of bills"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/bill"
            minItems: 1
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/bills:
    get:
      summary: "View Account Bills"
      description: "This endpoint returns bills linked to an account (via MSISDN identifier)"
      operationId: "accountsMsisdnMsisdnBillsGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      responses:
        200:
          description: "Represents a list of bills"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/bill"
            minItems: 1
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/bills/{billReference}/payments:
    post:
      summary: "Create A Bill Payment"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new bill payment to be created for a specific account"
      operationId: "accountsAccountIdBillsBillReferencePaymentsPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      - name: "billReference"
        in: "path"
        description: "Path variable to uniquely identify a bill"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - in: "body"
        name: "requestBillPayment"
        description: "Represents the request body of a bill payment"
        required: true
        schema:
          $ref: "#/definitions/billPayment"
      responses:
        201:
          description: "Represents the response body of a bill payment"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/billPayment"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/bills/{billReference}/payments:
    post:
      summary: "Create A Bill Payment"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new bill payment to be created for a specific account (via MSISDN\
        \ identifier)"
      operationId: "accountsMsisdnMsisdnBillsBillReferencePaymentsPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      - name: "billReference"
        in: "path"
        description: "Path variable to uniquely identify a bill"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - in: "body"
        name: "requestBillPayment"
        description: "Represents the request body of a bill payment"
        required: true
        schema:
          $ref: "#/definitions/billPayment"
      responses:
        201:
          description: "Represents the response body of a bill payment"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/billPayment"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /bills/{billReference}/payments:
    post:
      summary: "Create A Bill Payment"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new bill payment to be created"
      operationId: "billsBillReferencePaymentsPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "billReference"
        in: "path"
        description: "Path variable to uniquely identify a bill"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - in: "body"
        name: "requestBillPayment"
        description: "Represents the request body of a bill payment"
        required: true
        schema:
          $ref: "#/definitions/billPayment"
      responses:
        201:
          description: "Represents the response body of a bill payment"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/billPayment"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/debitmandates:
    post:
      summary: "Create A Debit Mandate"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new debit mandate to be created for a specific account"
      operationId: "accountsAccountIdDebitmandatesPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      - in: "body"
        name: "requestDebitMandate"
        description: "Represents the request body of a debit mandate"
        required: true
        schema:
          $ref: "#/definitions/requestDebitMandate"
      responses:
        201:
          description: "Represents the response body of a debit mandate"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseDebitMandate"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/debitmandates:
    post:
      summary: "Create A Debit Mandate"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new debit mandate to be created for a specific account (via MSISDN\
        \ identifier)"
      operationId: "accountsMsisdnMsisdnDebitmandatesPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      - in: "body"
        name: "requestDebitMandate"
        description: "Represents the request body of a debit mandate"
        required: true
        schema:
          $ref: "#/definitions/requestDebitMandate"
      responses:
        201:
          description: "Represents the response body of a debit mandate"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseDebitMandate"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/debitmandates/{debitMandateReference}:
    get:
      summary: "View A Debit Mandate"
      description: "This endpoint returns a specific debit mandate linked to an account"
      operationId: "accountsAccountIdDebitmandatesDebitMandateReferenceGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      - name: "debitMandateReference"
        in: "path"
        description: "Path variable to uniquely identify a debit mandate"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      responses:
        200:
          description: "Represents the response body of a debit mandate"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseDebitMandate"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
    patch:
      summary: "Update A Debit Mandate"
      description: "This endpoint updates a specific debit mandate linked to an account"
      operationId: "accountsAccountIdDebitmandatesDebitMandateReferencePATCH"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      - name: "debitMandateReference"
        in: "path"
        description: "Path variable to uniquely identify a debit mandate"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - in: "body"
        name: "patch"
        description: "Represents the request body of a patch operation"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/patch"
          minItems: 1
          maxItems: 10
      responses:
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        204:
          description: "an empty response is returned for a synchronous successful\
            \ patch"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/msisdn/{msisdn}/debitmandates/{debitMandateReference}:
    get:
      summary: "View A Debit Mandate"
      description: "This endpoint returns a specific debit mandate linked to an account\
        \ (via MSISDN identifier)"
      operationId: "accountsMsisdnMsisdnDebitmandatesDebitMandateReferenceGET"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      - name: "debitMandateReference"
        in: "path"
        description: "Path variable to uniquely identify a debit mandate"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      responses:
        200:
          description: "Represents the response body of a debit mandate"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseDebitMandate"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
    patch:
      summary: "Update A Debit Mandate"
      description: "This endpoint updates a specific debit mandate linked to an account\
        \ (via MSISDN identifier)"
      operationId: "accountsMsisdnMsisdnDebitmandatesDebitMandateReferencePATCH"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "msisdn"
        in: "path"
        description: "Path variable to uniquely identify an account (via MSISDN identifier)"
        required: true
        type: "string"
        pattern: "^\\+(?:[0-9] ?){6,14}[0-9]$"
      - name: "debitMandateReference"
        in: "path"
        description: "Path variable to uniquely identify a debit mandate"
        required: true
        type: "string"
        maxLength: 256
        minLength: 1
      - in: "body"
        name: "patch"
        description: "Represents the request body of a patch operation"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/patch"
          minItems: 1
          maxItems: 10
      responses:
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        204:
          description: "an empty response is returned for a synchronous successful\
            \ patch"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
      x-swagger-router-controller: "Default"
  /accounts/{accountId}/links:
    post:
      summary: "Create A Link"
      description: "Provided with a valid object representation, this endpoint allows\
        \ for a new link to be created for a specific account"
      operationId: "accountsAccountIdLinksPOST"
      consumes:
      - "application/json"
      parameters:
      - name: "Date"
        in: "header"
        description: "Header parameter to indicate the date and time that the message\
          \ was originated"
        required: true
        type: "string"
        format: "datetime"
      - name: "X-CorrelationID"
        in: "header"
        description: "Header parameter to uniquely identify the request"
        required: true
        type: "string"
        pattern: "^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$"
      - name: "accountId"
        in: "path"
        description: "Path variable to uniquely identify an account"
        required: true
        type: "string"
        pattern: "^(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref)(@.+?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref))*@(?!.*?\\\
          \\$(accountcategory|bankaccountno|accountrank|identityalias|iban|accountid|msisdn|swiftbic|sortcode|organisationid|username|walletid|linkref).*).+?$"
      - in: "body"
        name: "requestLink"
        description: "Represents the request body of a link"
        required: true
        schema:
          $ref: "#/definitions/link"
      responses:
        201:
          description: "Represents the response body of a link"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/responseLink"
        202:
          description: "Represents the response body of an asynchronous request"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/requestState"
        400:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        401:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
              description: "The date and time that the response message was sent"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "error object"
          headers:
            Date:
              type: "string"
              format: "datetime"
[...]
